body {
  font-family: 'Lora', serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background: url(../images/b4.jpg) no-repeat fixed 50%;
  background-size: cover;
}
header {
text-align: center;
padding: 100px 0 300px 0; 
 }

section, footer {
  padding: 50px, 0;
}

header h1 {
  font-weight: bold;
  font-size: 50px;
  }

.content-wrap {
max-width: 1000px;
width: 90%;
margin: 0 auto;
padding: 50px 0;
}

 .profile {
background: rgba(0,0,0,0.8);
color: white;
overflow: hidden;
 }

 .img-rg {
  margin: auto;
 }

 .img-rg img {
   display: block;
   margin: auto;
 }

.summary {
 padding-top: 20px;
}

 .work {
background: white;
}

.spacer {
  background: linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.5)), white;
  background-size: 300px 300px;
  text-align: center;
}

 .skills {
background: #726D6D;
}

.skills img {
width: 20%;
}

 .education {
   background: white;
}



 .contact {
padding: 50px 0;
 background: rgba(0,0,0,0.8);
 color: white;
}

.btn-links {
  padding: 15px 50px;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  border: none;
  background-color: #2ECC71;
  border-bottom: 4px solid #27AE60; 
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  text-decoration-color: black;
}

a:visited {
  color: black;
}

a:link {
  color: black;
}

.img-eiffel-tower {
  display: block;
  margin: auto;
}

.div-center {
  margin: auto; 
  text-align: center;
}